@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Source+Serif+Pro:wght@400;600;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

@import '@/assets/default.scss';
@import '@/assets/variables.scss';

* {
  user-select: none;
  font-family: Rubik, sans-serif;
}
*:focus {
  outline: none;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: black;
}

.ozoneTextInput {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  background-color: #fffcf9cc;
  box-shadow: 1px 1px 5px #0002;
  transition: box-shadow 0.3s;
  display: block;
  font-size: 1rem;
  &:focus {
    box-shadow: 1px 1px 3px #0005;
  }
}

.ozoneButton {
  padding: 0.5rem;
  border: none;
  border-radius: $default-padding;
  margin: 1rem;
}
.ozoneButton.green {
  background-color: $green;
  color: $white;
}
.ozoneButton.red {
  background-color: $red;
  color: $white;
}

.noMargin {
  margin: 0px;
}

.ozone-setup-screen-enter {
  transform: translateX(100vw);
}
.ozone-setup-screen-enter-to {
  transform: translateX(0vh);
}
.ozone-setup-screen-leave {
  transform: translateX(0vh);
}
.ozone-setup-screen-leave-to {
  transform: translateX(-100vw);
}
.ozone-setup-screen-enter-active,
.ozone-setup-screen-leave-active {
  transition: transform 2s cubic-bezier(0.4, 0, 0.39, 1);
}

.ozone-setup-screen-back-enter {
  transform: translateX(-100vw);
}
.ozone-setup-screen-back-enter-to {
  transform: translateX(0vh);
}
.ozone-setup-screen-back-leave {
  transform: translateX(0vh);
}
.ozone-setup-screen-back-leave-to {
  transform: translateX(100vw);
}
.ozone-setup-screen-back-enter-active,
.ozone-setup-screen-back-leave-active {
  transition: transform 2s cubic-bezier(0.4, 0, 0.39, 1);
}
