.slide, .wrapper{
  background-color: black;
}

#image-1, #image-8{
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

#image-2, #image-4, #image-6, #image-11{
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: contain;
}

#image-3, #image-5, #image-10{
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: none;
  object-position: 50% 50%;
}

#image-9{
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: fill;
}

#image-7{
  transform: scale(5);
  position: absolute;
}

#image-12{
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transform: scale(2.0) translate(-25%, 10%);
}

#text-7{
  font-size: 20rem;
  position: absolute;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0px;
  text-align: center;
}

#text-8{
  font-family: Arial, sans-serif;
  margin: 0px;
  color: white;
  font-size: 6rem;
  text-align: center;
  position: absolute;
  color: blue;
}

#text-11{
  transform: skewX(20deg);
}

#text-12{
  font-size: 2rem;
  color: black;
  font-family: Arial, sans-serif;
  margin: 0px;
  text-align: center;
  position: absolute;
}/*example duration of 2s has to be replaced!*/
